{% extends "displayimages.html" %}

{% block table %} 
  <div class="col-md-4">
    <div class="card mb-4 shadow-sm">
      <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="https://instagram.fijd1-1.fna.fbcdn.net/vp/56f99fca8e3f503164172966b50756e5/5E5F7200/t51.2885-15/e35/75601621_781759782244936_1631855831484652129_n.jpg?_nc_ht=instagram.fijd1-1.fna.fbcdn.net&_nc_cat=104" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"></svg>
      <div class="card-body">
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}